{% extends "base.html.twig" %}

{% block title %}
	Комната
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/styles/css/room-list.css">
{% endblock %}

{% block javascripts %}
    <script>
        window.mercureUrl = '{{ mercureUrl }}';
    </script>
    <script defer src="/js/room/room-list.js"></script>
{% endblock %}

{% block body %}
	<div class="rooms-list-container">
		<div class="rooms-list-header">
			<h1>Список комнат</h1>
			<label style="margin-left: auto">
				Поиск:
				<input type="text" maxlength="10" placeholder="Введите номер комнаты">
			</label>
		</div>
		<div class="rooms-list-scroll">
			<ul id="rooms-list">
				{% for room in openRooms %}
					<li id="room-{{ room.id }}">
						<span>Комната
							{{ room.id }}</span>
						<button class="join-room-button" data-room-id="{{ room.id }}">Войти</button>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="create-room-separator"></div>
		<button id="create-room-button">Создать комнату</button>
	</div>
{% endblock %}
