{% extends "base.html.twig" %}

{% block title %}
	Правила игры
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/styles/css/game-rules.css">
{% endblock %}

{% block body %}
	<div class="about-the-game-container">
		<div class="about-header">
			<h1>Stronghold Legacy</h1>
			<h2>Правила игры</h2>
		</div>
		<div class="about-content">
			<p class="welcome">Добро пожаловать в&nbsp<b>Stronghold Legacy</b>!
							 Приготовьтесь к&nbspзахватывающей битве за&nbspвыживание в&nbspэтом динамичном Tower Defense приключении. Ваша задача – защитить свою крепость от&nbspволн врагов, используя стратегическое размещение башен и&nbspмощные эффекты.</p>

			<ol class="rules-list">
				<li>
					<b>ИГРОВОЕ ПОЛЕ:</b>
					<p>Поле битвы представляет собой карту с&nbspчетко обозначенным маршрутом, по&nbspкоторому движутся враги. На&nbspкарте расположены специальные зоны, предназначенные для&nbspстроительства башен. В&nbspконце пути находится ваша крепость. Защитите ее любой ценой!</p>
				</li>
				<li>
					<b>БАШНИ – ОПЛОТ ВАШЕЙ ЗАЩИТЫ:</b>
					<p>В&nbspвашем распоряжении пять типов башен, каждая из&nbspкоторых обладает уникальными способностями:</p>
					<ul>
						<li>
							<b>Башня лучников:</b>
							Специализируется на&nbspнанесении точного урона одной цели стрелами.</li>
						<li>
							<b>Магическая башня:</b>
							Обрушивает на&nbspврагов мощный магический урон, поражая одну цель за&nbspраз.</li>
						<li>
							<b>Отравляющая башня:</b>
							Периодически обрушивает на&nbspврагов склянки с&nbspядом, нанося им постоянный урон.</li>
						<li>
							<b>Замедляющая:</b>
							Замедляет врагов, бросая в&nbspних склянки с&nbspзамедляющим эффектом, давая вашим башням больше времени для&nbspатаки.</li>
						<li>
							<b>Мортира:</b>
							Наносит урон по&nbspобласти, обстреливая врагов минами. Эффективна против больших групп противников.</li>
					</ul>
					<p>Каждая башня имеет свой радиус действия и&nbspнаносимый урон. Улучшайте свои башни, чтобы повысить их эффективность и&nbspадаптироваться к&nbspновым угрозам! Улучшения приобретаются за&nbspресурсы, полученные в&nbspбою.</p>
				</li>
				<li>
					<b>ВОЛНЫ ВРАГОВ – ИСПЫТАНИЕ ВАШЕЙ КРЕПОСТИ:</b>
					<p>Враги наступают волнами, становясь с&nbspкаждой волной сильнее и&nbspмногочисленнее. Если враг доберется до&nbspвашей базы, вы потеряете здоровье.</p>
					<p>Вы можете покупать и&nbspотправлять дополнительные волны врагов на&nbspсоперников за&nbspмонеты.</p>
				</li>
				<li>
					<b>Мощные эффекты – переломите ход битвы:</b>
					<p>В&nbspкритические моменты вы&nbspможете использовать одноразовые эффекты, чтобы переломить ход битвы. Выберите место на&nbspкарте, где эффект будет наиболее эффективен:</p>
					<ul>
						<li>
							<b>Эффект замедления:</b>
							Замедляет врагов на&nbspвыбранном участке поля, давая вашим башням преимущество.</li>
						<li>
							<b>Ядовитый эффект:</b>
							Наносит урон врагам ядом на&nbspвыбранном участке поля, ослабляя&nbspих.</li>
						<li>
							<b>Эффект взрыва:</b>
							Мгновенно уничтожает врага, спасая вашу базу от&nbspнеминуемой угрозы.</li>
					</ul>
					<p>Эффекты покупаются за&nbspресурсы, заработанные в&nbspбою.</p>
				</li>
				<li>
					<b>РЕСУРСЫ – ОСНОВА ВАШЕЙ ОБОРОНЫ:</b>
					<p>В&nbspначале игры вы получаете стартовый баланс монет. Эти монеты используются для&nbspстроительства и&nbspулучшения башен. За&nbspуничтожение врагов вы будете получать дополнительные монеты, позволяя вам укреплять свою оборону.</p>
				</li>
				<li>
					<b>УСЛОВИЯ ПОБЕДЫ:</b>
					<p>Вы побеждаете, если успешно отразите все волны врагов и&nbspзащитите свою базу.</p>
				</li>
				<li>
					<b>УСЛОВИЯ ПОРАЖЕНИЯ:</b>
					<p>Вы проигрываете, если здоровье вашей базы падает до&nbspнуля.</p>
				</li>
				<li>
					<b>РЕЖИМЫ ИГРЫ:</b>
					<ul>
						<li>
							<b>Одиночный режим:</b>
							Пройдите серию увлекательных уровней, проверяя свои навыки и&nbspстратегическое мышление.</li>
						<li>
							<b>Мультиплеер:</b>
							Сразитесь с&nbspдрузьями (до 4-х игроков) в&nbspзахватывающей битве на&nbspвыживание. Цель – остаться последним игроком с&nbspживой крепостью!</li>
					</ul>
				</li>
			</ol>
		</div>
		<div class="about-back">
			<a href="/" class="back-link">← Вернуться в&nbspменю</a>
		</div>
	</div>
{% endblock %}
