{% extends "base.html.twig" %}

{% block title %}Menu{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block javascripts %}
	<script defer type="module" src="/js/ui/menu.js"></script>
{% endblock %}

{% block body %}
<body>
	<button id="lvl1">Уровень 1</button>
	<button id="lvl2">Уровень 2</button>
</body>
{% endblock %}

